*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: rgb(43, 41, 41);
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0 1rem;
  padding: 4rem 1.5rem 1.7rem;
}

img {
  width: 5rem;
  border-radius: 50%;
  border: 1px solid #ccc;
}

form {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

form input {
  background: transparent;
  padding: .5rem;
  border-radius: 15px;
  width: 16rem;
  color: #fff;
}

form input::placeholder {
  color: #a7a8a8;
}


form button {
  padding: .5rem;
  border-radius: 15px;
  background-color: #74FE52;
  border: none;
  margin-left: 1rem;
  width: 7rem;
  cursor: pointer;
}
